:root {
    --bs-body-color: #ffffff;
    --bs-body-bg:  #1a0640;
  }
  
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }

  h1, .h1 {
    margin-top: 5rem;
    font-size: 3.5rem;    
  }

  h3, .h3 {
    text-align: bottom;
  }

  .btn-primary {
    color: #ffffff;
    background-color: #d90082;
    border-color: #d90082;
  }
  .btn-primary:hover {
    color: #d90082;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .btn-secondary {
    color: #ffffff;
    background-color: #e6631f;
    border-color: #e6631f;
  }
  .btn-secondary:hover {
    color: #e6631f;
    background-color: #ffffff;
    border-color: #ffffff;
  }