<!doctype html>
<html lang="en">
  <head>
    <!-- For all browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <!-- For Google and Android -->
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='images/favicon-48x48.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/favicon-192x192.png') }}">
    <!-- For iPad -->
    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ url_for('static', filename='images/favicon-192x192.png') }}">
    <!-- For iPhone -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='images/favicon-192x192.png') }}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/dogbreed.css') }}">    
   <title>Dog breed identification service</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <h1>Dog breed identification service</h1>
    <h3>Powered by <img style="vertical-align: top" src="{{ url_for('static', filename='images/biganimal_logo.svg') }}"> and <img style="vertical-align: top" src="{{ url_for('static', filename='images/tensorflow_logo.png') }}"></h3>
    <br><br><br>    
    {% block content %} {% endblock %}          
  </body>
</html>